<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/mainCSS.css">
<div class="header">
 
  <% if(!session){ %>
    <div id="sign_up_button" onclick="location.href = '//localhost:3000/register';" class=" btn btn-primary add pull-right" >Sign up</div>
    <div id="sign_in_button" onclick="location.href = '//localhost:3000/login';" class=" btn btn-primary add  pull-right">Sign in</div>
   
  <% } %>
  <% if(session){ %>
    <div id="profile" class="btn btn-primary pull-right " onclick="location.href = '//localhost:3000/profile'">Profile</div>
    <div id="logOut" class="btn btn-primary pull-right " onclick="location.href = '//localhost:3000/logOut'">Log Out</div><br><br>
     <% } %>
    
</div>
<% var myQuiz=sorted;%> 
<% var page=0; %>
<% var id=1; %>
<div id="quizContent">
<% myQuiz.forEach((quiz)=>{%>
  
  <div class="quizQuestions" id=<%= page %> >
<div class="col-sm-12">
    <h2 id="quizHeader">Question <%=quiz.question[0]%> <br><br> <%=quiz.question[1]%> <br></h2>

  </div>
  <div id="questions" class="row">
    <% if(id<=4 && id==quiz.correct || id>4 && id-4==quiz.correct) {%>
      <div class="col-sm-6 correct" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[0]%></a> </div>
    <% }else{ %>
      <div class="col-sm-6" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[0]%></a> </div>
    <% } %>
    <% id++; %>
    <% if(id<=4 && id==quiz.correct || id>4 && id==quiz.correct) {%>
      <div class="col-sm-6 correct" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[1]%></a> </div>
    <% }else{ %>
      <div class="col-sm-6" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[1]%></a> </div>
    <% } %>
    <% id++; %>
    <% if(id<=4 && id==quiz.correct || id>4 && id==quiz.correct) {%>
      <div class="col-sm-6 correct" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[2]%></a> </div>
    <% }else{ %>
      <div class="col-sm-6" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[2]%></a> </div>
    <% } %>
    <% id++; %>
    <% if(id<=4 && id==quiz.correct || id>4 && id==quiz.correct) {%>
      <div class="col-sm-6 correct" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[3]%></a> </div>
    <% }else{ %>
      <div class="col-sm-6" onclick='addAnswer(<%= id %>)'> <a data-id=' <%= id %>' class="btn btn-default answer "><%=quiz.answers[3]%></a> </div>
    <% } %>
    <% id++; %>
  </div>
<br>
</div>
<% page++; %>
<%});%>
<% var quizlength={lengthp:page} %>
<div class="row pageMovement">
  <div onclick='moveBack()' id="btnPrevious" class="col-xs-5 col-sm-4 btn btn-primary pull-left">Previous</div>
  <div id="btnNext" onclick='moveNext()' class="col-xs-5 col-sm-4 col-sm-offset-4 col-xs-offset-2 btn btn-primary pull-right">Next</div>
</div>
<div class="row ">
  <div id="finishQuiz" onclick="check()" class=" btn btn-success btn-block  hide ">Submit Quiz</div>
</div><br>
<div class="row progress">
  <div id="progressBar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:50%"> 0% Complete </div>
</div> 
  <div id="statistics">
  </div>
</div>
  <div class="row pageMovement sure">
    <p id="finishing" class="hide" style="text-align:center;font-size:2.5em">You have unanswered questions.<br>Are you sure you want to finish?</p>
<div id="btnYes" onclick="endQuiz()" class="col-xs-5 col-sm-4 btn btn-primary pull-left hide">yes</div>
<div id="btnNo" onclick="moveBack()" class="col-xs-5 col-sm-4 col-sm-offset-4 col-xs-offset-2 btn btn-primary pull-right hide">no</div>
</div>
<script>
  var curPage = 0;
  var quizContent=document.getElementById("quizContent");
  var myHeader = document.getElementById("quizHeader");
  var progressBar = document.getElementById("progressBar");
  var myQuestion = document.getElementById("questions");
  var btnNext = document.getElementById("btnNext");
var btnPrevious = document.getElementById("btnPrevious");
var btnFinish = document.getElementById("finishQuiz");
var myAnswers=[];
//btnNext.addEventListener("click", moveNext);
//btnPrevious.addEventListener("click", moveBack);
//btnFinish.addEventListener("click", check);
var current=0;
var cur=document.getElementsByClassName("quizQuestions");
var pages=cur.length;
console.log("pages",pages);
function addHide(){
  
  for(let i=0;i<pages;i++){
    if(i!=curPage){
    document.getElementById(i).classList.add("hide");
    }
  }checkPage(curPage);
  console.log("curPage",curPage)
  
}
addHide();
 function checkPage(mom) {
   if(mom!=undefined){curPage=mom;}
        
    if (curPage == 0) {
        btnPrevious.classList.add("hide");
    } else {
        btnPrevious.classList.remove("hide");
    }
    if ((curPage +1) < pages) {
        btnNext.classList.remove("hide");
    } else {
        btnNext.classList.add("hide");
        btnFinish.classList.remove("hide");
    }
    /*let quest=`Question ${curPage+1} <br><br> ${myQuiz[curPage].question} <br>`;
    myHeader.innerHTML = quest;///add question
    for (var i = 0; i < 4; i++) {
        var curNode = myQuestion.children[i];
        curNode.childNodes[1].innerHTML = capitalise(myQuiz[curPage].answers[i]); ///add possible answers
        //check if answered already
        if (myAnswers[curPage] == (i + 1)) {
            curNode.classList.add("selAnswer");
        } else {
            curNode.classList.remove("selAnswer");
        }
    }*/
    console.log("remove",curPage);
    document.getElementById(curPage).classList.remove("hide");
    ///update progress bar
    var increment = Math.ceil((curPage) / ( pages) * 100);
    progressBar.style.width = (increment) + '%';
    progressBar.innerHTML = (increment) + '%';
    //outputed();
}

function moveNext() {
  //console.log(myQuiz);
    if (curPage < pages) {
        curPage++;
        addHide();
        //checkPage(curPage);
    } else {
        if (myQuiz.length >= curPage) {
            endQuiz();
        } 
    }
}

function moveBack() {
  finishing.classList.add("hide");
        btnYes.classList.add("hide");
        btnNo.classList.add("hide");
        quizContent.classList.remove("hide");
    if (curPage > 0) {
        curPage--;
        addHide();
        checkPage(curPage);
    }
} 
function capitalise(str) {
    return str.substr(0, 1).toUpperCase() + str.substr(1);
}
function addAnswer(ans){
  document.getElementsByClassName("col-sm-6")[ans-1].classList.add("selAnswer");
  if(ans<=4){myAnswers[curPage]=ans;}
  else{myAnswers[curPage]=ans-4;}
  console.log(myAnswers);
}
function check(){
    var isAnswered=false;
    for(let i=0;i<pages;i++){
        if(myAnswers[i]===undefined){
            isAnswered=true;
        }
    }
    if(isAnswered){
     /* $.ajax({
        url: "http://localhost:3000/surePage",
        type:   'GET',
        success: console.log("success"),
        error: console.log("error")
    });*/
        finishing.classList.remove("hide");
        btnYes.classList.remove("hide");
        btnNo.classList.remove("hide");
        quizContent.classList.add("hide");

    }
    else{
        endQuiz();
    }
}
function endQuiz() {
    console.log();
    btnYes.classList.add("hide");
    btnNo.classList.add("hide");
    finishing.classList.add("hide");
    quizContent.classList.remove("hide");
    var output = "<div class='output'>Quiz Results<BR>";
    var questionResult = "NA";
    var corrected=0;
    for (var i = 0; i < pages; i++) {
      if(myAnswers[i]!=undefined){
      let name=document.getElementsByClassName("col-sm-6")[i].classList
      console.log(document.getElementsByClassName("col-sm-6")[i].classList)
      let hasCorrect=false;
      name.forEach((item)=>{if(item=="correct"){hasCorrect=true;}});
      if(hasCorrect){
        questionResult = '<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>';
        corrected++;
        }else{
            questionResult = '<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>';
        }
      }else{
        questionResult = '<span>Not Answered</span>';
      }
      /*
        if (myQuiz[i].correct == myQuiz[i].answers[myAnswers[i]-1]) {
            questionResult = '<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>';
            corrected++;
        }else if(myQuiz[i].correct!=myQuiz[i].answers[myAnswers[i]-1] && myAnswers[i]){
            questionResult = '<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>';
        }else {
            questionResult = '<span>Not Answered</span>';
        }*/
        output = output + '<p>Question ' + (i + 1) + ' ' + questionResult + '</p> ';
    }
    output = output + '<p>You scored ' + corrected + ' out of ' + pages + '</p></div> ';
    document.getElementById("quizContent").innerHTML = output;
    
    var date=new Date();
    var day=date.getDate();
    var month=date.getMonth();
    var year=date.getFullYear();
    var hour=date.getHours();
    var minutes=date.getMinutes();
    let info={
        user:document.getElementById("username").value,
        score:`${corrected}/${myQuiz.length}`,
        date:`${day}.${month}.${year} ${hour}:${minutes}`,
        category:`${document.getElementById("category").value}`,
        difficulty:`${document.getElementById("difficulty").value}`
    }
    console.log(info);
    $.ajax({
        url: "http://localhost:3000/addUser",
        type:   'POST',
        data: info ,
        success: function(msg){
            console.log(msg);
            for(var key in msg){
                if(key=="empty"){
                    let output='<div>You are new here,better start the quiz. :) </div>';
                    document.getElementById("showResult").innerHTML=output;
                    document.getElementById("showResult").classList.remove("hide");
                }else{
                    let output=`<div>${msg}</div>`;
                    document.getElementById("showResult").innerHTML=output;
                    document.getElementById("showResult").classList.remove("hide");
                }
            }
        },
        error: function() {
            $("#failed").css("visibility","visible")
            //document.getElementById("SubmitButton").disabled = false;
        }
    });
}
</script>